<!DOCTYPE html>
<html data-ng-app="CommApp">
  <head>
    <title><%= title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

	  <%- cssLinks %>

	<script>
		var NgAppName = 'CommApp';
	</script>
  </head>
  <body>

  <div class="container">
  	<div ng-view></div>
  </div>

  <%- scriptTags %>


  <%- templates %>

  </body>
</html>
