<div>
	<div class="col-sm-4"></div>
	<div class="col-sm-8">
		<ul class="nav nav-pills">
			<li role="presentation" ng-class="current.page === 'data' || current.page === '' ? 'active':''"><a href="/data">Data Processing</a></li>
			<li role="presentation" ng-class="current.page === 'payments' ? 'active':''"><a href="/payments">New Payments</a></li>
			<li role="presentation" ng-class="current.page === 'history' ? 'active':''"><a href="/history">Payment History</a></li>
		</ul>
	</div>
	<div class="col-sm-12">
		<hr />
	</div>
</div>